<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="/images/weather.png">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This Site is created by Rahul Panchal</p>
        <p>API's Used : Mapbox & WeatherBit</p>
        {{!-- <img class="portrait" src="images/prof.jpg"> --}}
    </div>
    {{>footer}}
</body>
</html>