<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Handlebars</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="/images/weather.png">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <form>
            <input type="text" id="search_text" placeholder="Enter Your Location">
            <button class="search_btn">Search</button>
        </form>
        <p id="temp"></p>
        <p id="forecast"></p>
        <p id="location"></p>
    </div>
    {{>footer}}
    <script src="js/app.js"></script>
</body>
</html>